.tabelaDeputado{

    width: 100%;
    height: 20px;
    

}

.d-flex{

    list-style: none;
    display: table;
    margin: 0 auto;

}

.flex-fill{

    display: inline;
    color: black;
    text-align: center;
    background-color: rgb(240, 240, 240);
    border: solid 1px black;
    font-size: 30px;

}

.flex-fill:hover{

    color:black;
    cursor: pointer;
    background-color: white;


}