.chatWidget{

    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(130, 130, 231);
    padding-left: 18px;
    padding-right:18px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 10px;
    cursor: pointer;

}

.InnerContainer{

    display:flex;
    align-items: left;
    justify-content: left;

}


.chatWidgetText{

    color: black;
    font-size: 15px;
    margin-left: 5px;

}