*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;

}

.card-container{

    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 100px;

}

.card{

    width: 150px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;

}
.card-img{

    width: 100%;
    height: auto;

}

.card-details h3{

    font-size: 28px;
    margin-bottom: 8px;

}