.ModalWindow{

    position: fixed;
    bottom: 70px;
    right: 20px;
    width: 370px;
    height: 65vh;
    max-width: calc(100% - 48px);
    max-height: calc(100% - 48px);
    background-color: white;
    border-radius: 12px;
    border: 2px solid black;
    overflow: hidden;
    box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.33);
    overflow: scroll;

}

.Cabecalho{
    width: 100%;
    height: 30px;
    background-color: rgb(130, 130, 231);
}

.BotaoResumo{

    width: 45%;
    height: 35px;
    border-radius: 5%;
    margin-left: 10%;
    margin-top: 5%;
    cursor: pointer;
}


    
