.paginasDespesas{

    list-style: none;
    display: flex;
    justify-self: center;
    
}

.itensPg{

    margin-left: 15px;
    cursor:pointer;

}

.itensPg:hover{

    color: blue;

}

.SelecaoAnoMes select{
    display:block;
    margin: 0 auto;
}